{% extends "base.html" %}
{% load static %}

{% block title %}TOKUSHIMA SAUNA{% endblock %}

{% block content %}
<div>
    <h2 class="styled-title">整う、徳島。</h2>
    <h3 class="styled-subtitle">温泉・サウナで叶える至福のデトックス体験</h3> 
    <p>「徳島の魅力を全国へ」心と体を癒す温泉・サウナの情報をお届けします。</p>
    <!-- 検索フォーム -->
    <form method="get" action="{% url 'spa_list' %}" class="mb-4">
        <div class="row">
            <!-- カテゴリ選択 -->
            <div class="col-md-4">
                <select name="category" class="form-control">
                    <option value="">すべてのカテゴリ</option>
                    {% for cat in form.fields.category.queryset %}
                    <option value="{{ cat.id }}" {% if request.GET.category == cat.id|stringformat:"s" %}selected{% endif %}>
                        {{ cat.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <!-- キーワード検索 -->
            <div class="col-md-6">
                <input type="text" name="query" value="{{ request.GET.query }}" class="form-control" placeholder="名前、住所で検索">
            </div>
            
            <!-- 検索ボタン -->
            <div class="col-md-2">
                <button type="submit" class="btn btn-light w-100" style="height: 40px; display: flex; justify-content: center; align-items: center;">検索</button>
            </div>
        </div>
    </form>
    
    <!-- 温泉セクション -->
    <h4 class="section-heading">カテゴリ: 温泉＋サウナ</h4>
    <div class="row row-cols-xl-4 row-cols-md-3 row-cols-2 g-4">
        {% for spa in spas %}
        {% if spa.category.name == "温泉＋サウナ" %}
        <div class="col">
            <a href="{% url 'spa_detail' spa.id %}" class="link-light card-link">
                <div class="card h-100">
                {% if spa.img %}
                    <img src="{{ spa.img.url }}" class="card-img-top" style="object-fit: cover; height: 200px; width: 100%;">
                {% else %}
                    <img src="{{ MEDIA_URL }}NoImage.png" class="card-img-top" style="object-fit: cover; height: 200px; width: 100%;">
                {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ spa.name }}</h5>
                        <p class="card-text">{{ spa.address }}</p> 
                        <p class="card-text">tel : {{ spa.tel }}</p> 
                        <p class="card-text">定休日：{{ spa.holiday }}</p>                                            
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- サウナセクション -->
    <h4 class="section-heading mt-5">カテゴリ: 予約制サウナ</h4>
    <div class="row row-cols-xl-4 row-cols-md-3 row-cols-2 g-4">
        {% for spa in spas %}
        {% if spa.category.name == "予約制サウナ" %}
        <div class="col">
            <a href="{% url 'spa_detail' spa.id %}" class="link-light card-link">
                <div class="card h-100">
                    {% if spa.img %}
                     <img src="{{ spa.img.url }}" class="card-img-top" style="object-fit: cover; height: 200px; width: 100%;">
                    {% else %}
                        <img src="{{ MEDIA_URL }}NoImage.png" class="card-img-top" style="object-fit: cover; height: 200px; width: 100%;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ spa.name }}</h5>
                        <p class="card-text">{{ spa.address }}</p> 
                        <p class="card-text">tel : {{ spa.tel }}</p> 
                        <p class="card-text">定休日：{{ spa.holiday }}</p>                                            
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
